html {
  height: 100%;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='roughpaper'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.04' result='noise' numOctaves='3' /%3E%3CfeDiffuseLighting in='noise' lighting-color='%23f9efe0' surfaceScale='1'%3E%3CfeDistantLight azimuth='65' elevation='70' /%3E%3C/feDiffuseLighting%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23roughpaper)'/%3E%3C/svg%3E");
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  header h1 {
    line-height: 30px;
    font-size: 35px;
  }
}

a {
  color: #000000;
  text-decoration: underline;
}

a:visited {
  color: #434343;
}

pre {
  border: 0.5px solid #eaeaea;
}

header {
  padding: 60px 40px;
}

header h1 {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 85px;
  font-size: 90px;
  font-weight: 300;
  /* Translate 10 px to the left */
  transform: translateX(-10px);
  letter-spacing: -3px;
}

header a {
  text-decoration: underline;
  color: #333;
}

header h2 {
  text-decoration: underline;
}

header p {
  margin: 0;
}

main {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px 40px;
}

h2 {
  margin: 1.5em 0 0 0;
  text-transform: uppercase;
  font-size: medium;
  font-weight: 600;
}

h3 {
  margin: 1em 0 0.5em 0;
  font-size: medium;
  text-transform: uppercase;
  font-weight: 300;
}

p {
  margin: 0.5em 0;
}

input[type="text"] {
  background: none;
  border-radius: 0;
  padding: 0;
  margin: 1em 1em 1em 0;
  width: 70px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]::placeholder {
  color: #000000c4;
}

input[type="text"]:focus {
  outline: none;
  width: 200px;
}

pre[class*="language-"] {
  background: #f5f2f07d !important;
}

#list-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-menu p {
  white-space: nowrap;
}

#list-menu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#list-menu button :focus {
  outline: none;
}

#list-menu button.selected {
  border-bottom: 1px solid black;
}

#list-menu button.reverse-selected {
  border-top: 1px solid black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0.5em 0;
}

/* Add > before first li char */

ul li::before {
  content: ". .";
  margin-right: 0.5em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

ul li:hover::before {
  content: "...";
  color: rgb(0, 0, 78);
}

a:hover {
  color: rgb(0, 0, 78);
}

footer {
  padding: 20px 40px;
  columns: 2;
}

@media screen and (max-width: 600px) {
  footer {
    columns: 1;
  }
}

footer p {
  margin: 0;
  columns: 1;
}

footer a {
  text-decoration: none;
}

footer li {
  font-size: small;
}
